/* Start About Section */
.about {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(
    to bottom,
    var(--color-background-more-light),
    var(--color-more-light-grey)
  );
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: var(--default-radius);
  padding: 2.5rem;
  box-shadow: 1px 3px 10px var(--color-box-shadow-black);
}

.box {
  display: flex;
  column-gap: calc(var(--gutter) * 1.325);
  justify-content: center;
  align-items: center;
  padding: 2.5rem 3.1rem;

  &__text {
    min-width: 9rem;
    text-align: left;

    p {
      font-weight: var(--font-weight-regular);
      font-size: var(--font-size-20);
      line-height: var(--default-line-height);
    }
  }

  &:nth-of-type(2) {
    border-inline: 0.2rem solid var(--color-light-grey);
  }
}
/* End About Section */
