/* Start Help Section */
.help {
  transform: translateY(11.7rem);
}

.subscribe {
  display: flex;
  justify-content: space-between;
  gap: clamp(1rem, 3vw, 3rem);
  align-items: center;
  padding: 6rem 7rem;
  background-color: var(--color-background-more-light);
  border-radius: var(--default-radius);
  box-shadow: 1px 3px 10px var(--color-box-shadow-black);
  width: 114rem;
  max-width: 100%;

  &__text {
    max-width: 41rem;

    &-heading {
      margin-bottom: 2rem;
    }
  }

  &__button {
    padding: 1.75rem 3.5rem;
    width: 85%;
  }
}
/* End Help Section */
