/* Start Hero Section */
.bio {
  margin-top: 9rem;
  padding: 5rem 0;
  width: 100%;
  background-color: var(--color-background-more-light);
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: calc(var(--gutter) * 2);

  &__data {
    display: flex;
    flex-direction: column;
  }

  &__objective {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
    line-height: var(--default-line-height);
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  &__link {
    width: 50%;
  }

  &__pic {
    display: flex;
    justify-content: center;

    &-content {
      max-width: 100%;
      height: auto;
      animation: up-and-down 5s linear 0s infinite normal none running;
    }
  }
}

@keyframes up-and-down {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(3rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* End Hero Section */
